@font-face {
    font-family: Inter;
    src: url(inter/Inter-VariableFont_opsz\,wght.ttf);
}

body {
    font-family: "Inter";
    margin: 0;
    font-optical-sizing: auto;
    font-weight: 400;
}



p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: "Inter";
    font-weight: 400;
}

ul {
    margin: 0;
    list-style: none;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 20px;
}




.ostro-demo {
    display: flex;
    margin-top: 22px;
    gap: 751px;
}


.demo_class {
    padding-right: 12px;
}

.guiding {
    margin-top: 28px;
}

.guiding_text {
    width: 600px;
    font-size: 32px;
}

.creates {
    padding-top: 32px;
    font-size: 20px;
    width: 450px;
}

.img_prducts {
    padding-top: 32px;
}

.guiding_text{
    
    float: left;
}

.today_container {
    padding-top: 42px;

    float: left;
}

.today_text {
    width: 530px;
}

.but_text {
    padding-top: 32px;
    width: 550px;
}

.img_believe {
    padding-top: 150px;
    padding-left: 68px;
}

.awareness {
    margin-top: 72px;
    font-size: 32px;
}

.treatment_text {
    color: #A573B9;
}

.image {
    float: left;
}

.image-2 {
    float: left;
}

.understanging_text {
    padding-left: 20px;
    color: #B84E88;
}

.awareness_text {
    color: #F98A0C;
}

.understanging_container {
    padding-top: 13px;
    padding-bottom: 13px;
}

.prescription {
    padding-top: 97px;
    padding-left: 709px;
    padding-bottom: 72px;
}

.prescription_text {
    max-width: 350px;
}

.consumers {
    max-width: 620px;
}

.products {
    background-color: #000000;
    padding-top: 72px;
    
    
}

.tailor_text {
    color: white;
    padding-bottom: 72px;
}

.products_text {
    
    font-size: 78px;
}

.approved {
    padding-top: 44px;
}


.our_text {
    padding-top: 16px;
    padding-bottom: 32px;
    width: 550px;
}

.attribute {
    padding-top: 168px;
}

.boots_text {
    color: white;
}

.engagement {
    padding-top: 40px;
}

.healtshcare {
    color: white;
    padding-top: 16px;
    max-width: 450px;
    padding-bottom: 32px;
    
}

    
.attribute {
    display: flex;
    gap: 34px;
    padding-bottom: 40px;
}

.brand {
    padding-top: 40px;
}

.connects_text {
    color: white;
    max-width: 450px;
    padding-top: 16px;
    padding-bottom: 32px;
}

.team {
    width: 800px;
    margin-top: 120px;
    margin-bottom: 72px;
}   

.team_text_1 {
    padding-bottom: 32px;
}

.meet {
    padding-bottom: 71px;
}

.meet_text_1 {
    color: #F98A0C;
    padding-bottom: 32px;
}

.hims {
    display: flex;
    gap: 24px;
    padding-bottom: 25px;
}

.mission_text_1 {
    margin-top: 72px;
    margin-left: 1024px;

    width: 400px;
    padding-bottom: 24px;
}

.mission_text_2 {
    margin-left: 1024px;
    color: #F98A0C;
    width: 165px;
    margin-bottom: 72px;
}

.demo {
    
    display: flex;
    gap: 800px

}

.schedule {
    background-color: #FFD260;
}

.footer {
    background-color: black;
}

.product_text {
    color: #FFFFFF;
    padding-top: 52px;
    display: flex;
    gap: 188px;
}

.product_text_p {
    padding-bottom: 12px;
}

.product {
    display: flex;
    gap: 116px;
}

.ostro_logo_2 {
    margin-top: 257px;
    margin-left: 998px;
    margin-bottom: 37px;
}