
body {
    font-family: "Inter", "sans-serify";
    margin: 0;
    font-optical-sizing: auto;
    font-weight: 400;
}

p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: "Fraunces", serif;
    font-weight: 400;
}

ul {
    margin: 0;
    list-style: none;
}

.container {
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    padding-top: 22px;
    padding-left: 52px;
    float: left;
}

.get_demo {
    padding-top: 20px;
    padding-left: 1216px;
}

.demo_class {
    padding-right: 12px;
}

.guiding {
    padding-top: 28px;
    padding-left: 53px;
}

.guiding_text {
    width: 600px;
    font-size: 32px;
}

.creates {
    padding-top: 32px;
    font-size: 20px;
    width: 450px;
}

.img_prducts {
    padding-top: 32px;
}

.guiding_text{
    
    float: left;
}

.today_container {
    padding-top: 42px;
    padding-left: 54px;
    float: left;
}

.today_text {
    width: 530px;
}

.but_text {
    padding-top: 32px;
    width: 550px;
}

.img_believe {
    padding-top: 150px;
    padding-left: 68px;
}

.products {
    background-color: #000000;
    padding-top: 72px;
    padding-left: 52px;
    
}



.tailor_text {
    color: white;
    padding-bottom: 72px;
}

.products_text {
    
    font-size: 78px;
}

.approved {
    padding-top: 44px;
}

.our_text {
    padding-top: 16px;
    padding-bottom: 32px;
    width: 550px;
}

.attribute {
    padding-top: 168px;
}

.boots_text {
    color: white;
}

.engagement {
    padding-top: 40px;
}

.healtshcare {
    color: white;
    padding-top: 16px;
    max-width: 450px;
    padding-bottom: 32px;
    
}

    
.attribute {
    display: flex;
    gap: 34px;
    padding-bottom: 40px;
}

.brand {
    padding-top: 40px;
}

.connects_text {
    color: white;
    max-width: 450px;
    padding-top: 16px;
    padding-bottom: 32px;
}